<div class="scriptorium">
  <div class="breadcrumb">
    <%= link_to('Thy Desk', scriptorium_desk_path) %> > Stories
  </div>


  <h1>Stories</h1>

  <div><%= link_to('Create new story', new_scriptorium_story_path) %></div>

  <div>
    <% @stories.each do |story| %>
      <div><%= link_to(story.title, scriptorium_story_path(story)) %></div>
    <% end %>
  </div>

</div>
