.scriptorium {
  font-size: 20px;
  line-height: 25px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.flash {
  width: 400px;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.flash.notice {
  border: 1px solid green;
  background-color: mintcream;
}

.flash.warning {
  border: 1px solid yellow;
  background-color: beige;
}

.flash.error {
  border: 1px solid red;
  background-color: lightpink;
}

.field_with_errors label {
  color: red;
}

.field_with_errors label:before {
  content: '* ';
  color: red;
}

form input.title {
  width: 100%;
  line-height: 25px;
  font-size: 20px;
}

form textarea.narrative {
  font-size: 20px;
  line-height: 25px;
}

.cancel-link {
  float: left;
  line-height: 15px;
  display: inline-block;
  width: 300px;
}

.form-label {
  margin-bottom: 5px;
  margin-left: 2px;
}

.form-input {
  margin-bottom: 20px;
}

input.submit-form {
  float: right;
  width: 150px;
  background: white;
  font-size: 20px;
  line-height: 20px;
}

.scriptorium h1 {
  text-align: center;
}
