<div class="books">
  <div id="title">Archive</div>

  <% if @stories.empty? %>
    <%= missing_stories_apology %>

  <% else %>
    <% @stories.each do |story| %>
      <div>
        <%= link_to(story.title, book_path(story)) %> &mdash; <%= story.created_at.strftime('%x %X') %>
      </div>
    <% end %>
  <% end %>
</div>
