/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container {
  width: 505px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.clear {
  clear: both;
}

.breadcrumb {
  font-size: 16px;
  font-color: #BBB;
}

.books {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times,	serif;
}

#title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}

#narrative {
  margin-bottom: 30px;
  line-height: 18px;
}

.link-to-another {
  text-align: center;
}

.mini-menu {
  margin-top: 60px;
  text-align: center;
}
